<% show_link ||= false %>
<div class='row'>
  <div class='span0 well text-center'>
  <%= link_to vote_post_comment_path(comment.post, comment, vote: true), remote: true, method: 'post' do %>
    <i class='icon-arrow-up'></i>
  <% end %>
  <br/>
  <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %> votes</span>
  <br/>
  <%= link_to vote_post_comment_path(comment.post, comment, vote: false), remote: true, method: 'post' do %>
    <i class='icon-arrow-down'></i>
  <% end %>
  </div>

  <div class='well span8'>
  	<%= comment.body %>
  	<% if show_link %>
  		on <%= link_to comment.post.title, post_path(comment.post) %>
  	<% end %>
  	<p><small>Created by <%= link_to comment.user.username, user_path(comment.user) %> at <%= comment.created_at %></small>
  	</p>
  </div>
</div>
