<div class='row'>
	<div class='span0 well text-center'>
		<%= link_to vote_post_path(post, vote: true), method: 'post' do %>
			<i class='icon-arrow-up'></i>
		<% end %>
		<br/>
		<%= post.total_votes %> votes
		<br/>
		<%= link_to vote_post_path(post, vote: false), method: 'post' do %>
			<i class='icon-arrow-down'></i>
		<% end %>
	</div>

	<div class='span8 well'>
		<div class = 'control-group'>
			<h4><%= link_to post.title, post_path(post) %></h4>
		</div>

		<div class = 'control-group'>
			<% post.categories.each do |category| %>
				<span class = 'label label-info'>
					<%= link_to category.name, category_path(category) %>
				</span>
			<% end %>
		</div>
		<br/>
		<div class = 'control-group'>
			<%= post.description %>
		</div>
		<%= link_to "#{post.comments.size} comments", post_path(post) %>
		<hr/>
		<p><small>Created by <%= link_to post.user.username, user_path(post.user) %> at <%= post.created_at %></small></p>
	</div>
</div>
