<div class='well'>

	<div class = 'control-group'>
		<h4><%= link_to post.title, post_path(post) %></h4>
	</div>

	<div class = 'control-group'>
		<% post.categories.each do |category| %>
			<span class = 'label label-info'>
				<%= link_to category.name, category_path(category) %>
			</span>
		<% end %>
	</div>
	<br/>

	<div class = 'control-group'>
		<%= post.description %>
	</div>
	<hr/>
	<p><small>Created by <%= post.user.username %> at <%= post.created_at %></small></p>
</div>