<h1>All Posts<hr/></h1>

<% @posts.each do |post| %>
	<div>
		<h4><%= link_to post.title, post_path(post) %></h4>
		<p>url: <%= post.url%></p>
		<p>Description: <%= post.description %></p>
		<p><small>Created by <%= post.user.username %> at <%= post.created_at %></small></p>
		<small><%= link_to "Edit", edit_post_path(post), class: 'btn btn-primary'%></small>
		<hr/>
	</div>
<% end %>
