<h4>Show Post</h4>
<hr/>

<%= render 'posts/post', post: @post%>

<div>
	<% if logged_in? && is_user? %>
		<%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
	<% end %>
	<%= link_to "Go back to all posts", posts_path, class: "btn btn-primary" %>
<hr/>
</div>

<div>
	<% if logged_in? %>
		<%= form_for [@post, @comment] do |f| %>
			<%= render 'posts/error', obj: @comment %>
			<%= f.label :body, 'Create comment' %>
			<%= f.text_area :body, rows: 3, class: 'span4' %>
				<br/>
				<%= f.submit 'Create comment', class: 'btn btn-primary' %>
		<% end %>
	<% end %>
</div>

<h5>All comments</h5>
<hr/>
<% @post.comments.each do |comment| %>
		<%= render 'comments/comment', comment: comment, show_link: false %>
<% end %>
