<h4>New Category</h4>
<hr/>

<%= render 'posts/error', obj: @category %>

<%= form_for @category do |f|%>
	<div class='well'>
		<div class="control-group">
			<%= f.label :name %>
			<%= f.text_field :name%>
		</div>
		<%= f.submit "New Category", class: 'btn btn-primary'%>
	</div>
<% end %>
