<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>

  <li>
    <%= link_to 'link', '' %>
  </li>

  <li class='dropdown'>
    <%= link_to '#', 'data-toggle' => 'dropdown', class: 'btn-link' do%>
    <button class='btn'><!-- class: 'btn btn-small dropdown_toggle' -->
      Categories <span class='caret'></span>
    </button>
    <% end %>
    <ul class="dropdown-menu">
      <% Category.all.each do |c| %>
        <li><%= link_to c.name, category_path(c)%></li>
      <% end %>
      <% if logged_in? %>
        <li class='divider'></li>
        <li>
          <%= link_to(new_category_path) do%>
            <i class='icon-plus'></i>
            New Category
          <% end %>
        <% end %>
      </li>
    </ul>
  </li>

  <% if logged_in? %>
    <li>
      <%= link_to new_post_path, class: "btn-link" do %>
        <button class="btn">
          New Post
        </button>
      <% end %>
    </li>

    <li class='dropdown'>
      <%= link_to '#', 'data-toggle' => 'dropdown', class: 'btn-link' do%>
        <button class='btn'>
          <%= current_user.username %><span class='caret'></span>
        </button>
      <% end %>
      <ul class='dropdown-menu'>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class='icon-pencil'></i>
            Edit profile
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class='icon-user'></i>
            Show profile
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <i class='icon-circle-arrow-left'></i>
            Log out
          <% end %>
        </li>
      </ul>
    </li>
    <!--<li>
      <%= link_to logout_path, class: 'btn-link' do %>
        <button class="btn">
          Log out
        </button>
      <% end %>
    </li>-->
  <% else %>
    <li>
      <%= link_to register_path, class: "btn-link" do%>
        <button class="btn">
          Register
        </button>
      <% end %>
    </li>

    <li>
      <%= link_to login_path, class: 'btn-link' do %>
        <button class="btn">
          Login
        </button>
      <% end %>
    </li>
  <% end %>
</ul>


