<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li class='dropdown'>
  	  <%= link_to '#', class: 'btn btn-small dropdown_toggle', 'data-toggle' => 'dropdown' do%>
        Categories <span class='caret'></span>
      <% end %>
      <ul class="dropdown-menu">
        <% Category.all.each do |c| %>
          <li><%= link_to c.name, category_path(c)%></li>
        <% end %>
        <li class='divider'></li>
        <li>
          <%= link_to(new_category_path) do%>
            <i class='icon-plus'></i>
            New Category
          <% end %>
        </li>
      </ul>
  </li>
  <li>
    <%= link_to "New Post", new_post_path %>
  </li>
  <li>
    <%= link_to 'link', '' %>
  </li>
</ul>
